<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>notesManager</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <!-- Bootstrap 3.3.6 -->

  <!-- Fonts -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css" integrity="sha384-XdYbMnZ/QjLh6iI4ogqCTaIjrFk87ip+ekIjefZch0Y+PvJ8CDYtEs1ipDmPorQ+" crossorigin="anonymous">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700">

  <!-- Styles -->
  <link rel="stylesheet" href="css/bootstrap.css">
  <link rel="stylesheet" href="css/login.css">
  <script src="js/vue.js" charset="utf-8"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.16.2/axios.min.js" charset="utf-8"></script>

<div class="container" id="content">

    <div class="row">
        <div class="col-md-8 col-md-offset-2" style="margin-top: 40px">
            <div class="panel panel-default" style="background: transparent; border-color: transparent; color: white">
                <div class="panel-body">

                  <div class="row" style="text-align:center; margin-top: 60px; margin-bottom: 20px">
                    <h2>notesManager</h2>
                  </div>

                     <template v-if="template_error">
                       <div class="alert alert-danger">
                         <strong>Error!</strong> Email o password invalidos, intente de nuevo.
                       </div>
                    </template>

                    <form class="form-horizontal" role="form" method="POST" action="login">

                        <div class="form-group">
                            <div class="col-md-12">
                                <input type="email" class="form-control" name="email" placeholder="Email" v-model="email">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-12">
                                <input type="password" class="form-control" name="password" placeholder="Password" v-model="password">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-6 col-md-offset-5">
                                <a  class="btn btn-primary" @click="login">
                                    <i class="fa fa-btn fa-sign-in"></i> Iniciar Sesion
                                </a>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-6 col-md-offset-5">
                                <div class="checkbox">
                                    <label style="color: white; margin-left: 20px">
                                        <input type="checkbox" name="remember"> Recordar
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                          <div class="col-md-12 col-md-offset-5" style="margin-top: 5px;">
                              <a href="#" class="alogin" style="margin-left: 10px">Registrese aqui</a>
                          </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>

</div>

<script>
var vm = new Vue({
      el: '#content',
      created: function() {
          this.saludo();
      },
      data: {
          token: "",
          email: "",
          password: "",
          template_error: false
      },
      methods:{
          saludo: function(){
                //alert("saludo")
          },
          login: function(){
            axios.get('/login', {
              params: {
                email: this.email,
                password: this.password,
              }
            })
            .then(response => {
              console.log(response)
              this.token = response.data.auth_token
              window.location = '/categoriesview'
            })
            .catch(response => {
              this.template_error = true
            });
          },
      }
});

</script>


  </body>
</html>
