<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>notesManager</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <!-- Bootstrap 3.3.6 -->

  <!-- Fonts -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css" integrity="sha384-XdYbMnZ/QjLh6iI4ogqCTaIjrFk87ip+ekIjefZch0Y+PvJ8CDYtEs1ipDmPorQ+" crossorigin="anonymous">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700">

  <!-- Styles -->
  <link rel="stylesheet" href="css/bootstrap.css">
  <link rel="stylesheet" href="css/login.css">
  <script src="js/vue.js" charset="utf-8"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.16.2/axios.min.js" charset="utf-8"></script>

<div class="container" id="content">

    <div class="row">
        <div class="col-md-8 col-md-offset-2" style="margin-top: 40px">
            <div class="panel panel-default" style="background: transparent; border-color: transparent; color: white">
                <div class="panel-body">

                  <div class="row" style="text-align:center; margin-top: 60px; margin-bottom: 20px">
                    <h2>notesManager</h2>
                    <p>Registro</p>
                  </div>

                     <template v-if="template_error">
                       <div class="alert alert-danger">
                         <strong>Error!</strong> Los passwords deben ser iguales
                       </div>
                    </template>

                    <form class="form-horizontal" role="form" method="POST">

                      <div class="form-group">
                          <div class="col-md-12">
                              <input type="email" class="form-control" name="name" placeholder="Nombre" v-model="name">
                          </div>
                      </div>


                        <div class="form-group">
                            <div class="col-md-12">
                                <input type="email" class="form-control" name="email" placeholder="Email" v-model="email">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-12">
                                <input type="password" class="form-control" name="password" placeholder="Password" v-model="password">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-12">
                                <input type="password" class="form-control" name="password_repeat" placeholder="Repite el Password" v-model="password_repeat">
                            </div>
                        </div>


                        <div class="form-group">
                            <div class="col-md-6 col-md-offset-5">
                                <a  class="btn btn-primary" @click="register">
                                    <i class="fa fa-btn fa-sign-in"></i> Registrese
                                </a>
                            </div>
                        </div>

                        <div class="form-group">
                          <div class="col-md-12 col-md-offset-5" style="margin-top: 5px;">
                              <a href="/" class="alogin" style="margin-left: 10px">Iniciar Sesion</a>
                          </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>

</div>

<script>
var vm = new Vue({
      el: '#content',
      data: {
          name: "",
          email: "",
          password: "",
          password_repeat: "",
          template_error: false
      },
      methods:{
          register: function(){
            axios.get('/signup', {
              params: {
                name: this.name,
                email: this.email,
                password: this.password,
                password_repeat: this.password_repeat
              }
            })
            .then(response => {
              if (response.data.error != null){
                this.template_error = true
              } else {
                window.location = '/categoriesview'
              }
            })
            .catch(response => {
              console.log("error")
            });
          },
      }
});

</script>


  </body>
</html>
