<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Categorias</title>
    <script src="js/vue.js" charset="utf-8"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.16.2/axios.min.js" charset="utf-8"></script>
  </head>
  <body>
    <div class="container" id="content">
        <h2 style="font-weight: 100">Registro de Categoria</h2>

        <template v-if="template_success">
          <div class="alert alert-success">
            <strong>Categoria Guardada</strong>
          </div>
       </template>

        <form class="form-horizontal" role="form" method="POST">

          <div class="form-group">
              <div class="col-md-12">
                  <input type="text" class="form-control" name="name" placeholder="Nombre" v-model="name">
              </div>
          </div>

            <div class="form-group">
                <div class="col-md-12">
                    <input type="text" class="form-control" name="descripcion" placeholder="Descripcion" v-model="description">
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-12 col-md-offset-10">
                    <a  class="btn btn-primary" @click="register">
                        <i class="fa fa-btn fa-sign-in"></i> Registrar
                    </a>
                </div>
            </div>

        </form>

    </div>
  </body>
  <script type="text/javascript">
      var vm = new Vue({
      el: '#content',
      data: {
          name: "",
          description: "",
          template_success: false,
      },
      methods:{
        //change endpoint to get for save categories
        register: function(){
          axios.get('/categoriescreate', {
            params: {
              name: this.name,
              description: this.description,
            }
          })
          .then(response => {
            this.template_success = true
            this.name = ""
            this.description = ""
          })
          .catch(response => {
            console.log("error")
          });
        },
      }
    });
  </script>

</html>
